/*GENERAL*/

:root {
  --dice-side: 20px;
}

@media only screen and (min-width: 600px) {
  :root {
    --dice-side: 60px;
  }
}

body{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Lato;
}






/*STRUCTURE*/



#grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 3fr 2fr;

}

#board-box {
  position: relative;
  display: grid;
}




/*NAVBAR*/

nav {
  position: absolute;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    color: #555;
}

nav .navbar-brand .red
{
    color: #ea433b;
}

/*BOARD HEADER*/


/*DICE*/

#dice-box {
  position: absolute;
  top: 40%;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(5, var(--dice-side));
  grid-template-rows: var(--dice-side);
  gap: 10px;
  transform: translate(-50%, -50%);
}

.die-box{
  position: relative;
}



.die-img {
  width: var(--dice-side);
  height: var(--dice-side)%;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*BUTTONS*/

#buttons-box{
  position: absolute;
  width: 50%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

#roll-btn{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

#hold-btn{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}


#roll-btn, #hold-btn {
    width: 80px;
    height: 60px;
    line-height: 80%;
    text-align: center;
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.die-button, .score-button {
  background-color: #FFFFFF;
  border-style: none;
}

button:hover:enabled { font-weight: 600; }
button:hover:enabled i { margin-right: 20px; }

button:disabled i {
  color: #505050;
}
button:focus {
    outline: none;
}


i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}


/* SCORE */
#score-box{
  position: relative;
}

#score-grid{
  position: absolute;
  width: 80%;
  height: 75%;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  grid-template-columns: 100%;
  font-size: 12pt;
  text-align: center;
  line-height: 20px;
  transform: translate(-50%, -50%);
}

.score-button{
  width: 100%;
  height: 100%;
  border-style: none;
}

.row-title {
  font-weight: bold;
}

.score-row{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100px 200px;
}

.score-dice {
  vertical-align: middle;
  object-position: center;
  font-size: 12pt;
}

.score-dice-cell {
  position: relative;
  font-size: 12pt;
  align-items: center;
}

.score-cell {
  line-height: 25px;
  position: relative;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 15px;
  font-weight: 300;
}

/* LOGIN REGISTER FORM */

.wrapper-box {
  position: relative;
  width: 100%;
  height: 85%;
}

.form-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 70%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#login-form, #register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
