/*GENERAL*/

:root {
  --dice-side: 80px;
}

@media only screen and (max-width: 200px) {
  :root {
    --dice-side: 20px;
  }
}

body{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Lato;
}






/*STRUCTURE*/



#grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: [main-start] 1fr 2fr 1fr [main-end];
  grid-template-columns: minmax(150px, 2fr) [score-start]
      minmax(200px, 1fr)[score-end];

}

#board-box {
  position: relative;
  display: grid;
}

#board-header-box {
  position: relative;
}

#board-footer-box {
  position: relative;

}


/*NAVBAR*/

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    color: #555;
}

nav .navbar-brand .red
{
    color: #ea433b;
}

/*BOARD HEADER*/

#new-game-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*DICE*/

#dice-box {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(5, var(--dice-side));
  grid-template-rows: var(--dice-side);
  gap: 10px;
  transform: translate(-50%, -50%);
}

.die-box{
  position: relative;
}



.die-img {
  width: var(--dice-side);
  height: var(--dice-side)%;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SCORE */
#score-box{
  position: relative;
  grid-row: main;
  grid-column: score;
}

#score-grid{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-rows: repeat(19, 25px);
  grid-template-columns: 100%;
  font-size: 12pt;
  text-align: center;
  vertical-align: middle;
  transform: translate(-50%, -50%);
}

.score-row{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100px 200px;
}

.score-dice {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  object-position: center;
}

.score-dice-cell {
  position: relative;
  font-size: 20px;
  align-items: center;
}

.score-cell {
  position: relative;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 15px;
  font-weight: 300;
}

/*BOARD FOOTER*/

#roll-btn{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

#hold-btn{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
}

/*BUTTONS*/

button {
    width: 150px;
    height: 40px;
    line-height: 80%;
    text-align: center;
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover:enabled { font-weight: 600; }
button:hover:enabled i { margin-right: 20px; }

button:disabled i {
  color: #505050;
}
button:focus {
    outline: none;
}


i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}
