:root {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  --dice-side: 3,5vw;
  --theme-color: #E80E0E;
}


body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  font-size: 30%;
}

#main-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 100%;
}

@media only screen and (min-width: 600px) {
  #main-wrapper {
    grid-template-rows: 100%;
    grid-template-columns: 3fr 2fr;
  }
}

#board {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 2fr minmax(var(--dice-side), 1fr) 2fr  minmax(var(--dice-side), 1fr) ;
  grid-template-columns: 100%;
}



/* NAVBAR */


/* BOARD */

.board-filler {
  position: relative;
  display: block;
}

#dice-container {
  margin: auto;
}

#dice {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(5, 1fr);

}

.die-box {
  display: inline-block;
}

.die-button {
  position: relative;
  color: #FFFFFF;
  background-color: #FFFFFF;
  border-style: none;
}


.die-button:hover:enabled {
  transform: translateX(-3px);
}


.die-button.selected {
 bottom: 7vh;
}

.die-img {
  width: var(--dice-side);
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#play-buttons {
  margin: auto;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
}

.play-button-box {
  position: relative;
  margin: auto;
}

.play-button {
  margin: auto;
  width: calc(2 * var(--dice-side));
  height: var(--dice-side);
  line-height: 80%;
  text-align: center;
  color: var(--theme-color);
  background: none;
  border: none;
  font-family: Lato;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

.play-button:hover:enabled { font-weight: 600; }
.play-button:hover:enabled { transform: translateY(-10px); }

.play-button:disabled i {
  color: #505050;
}
.play-button:focus {
    outline: none;
}

#roll-button {
  position: relative;
  left: 0px;
}

#roll-button {
  position: relative;
  right: 0px;
}


/* SCORE */
#score {
  position: relative;
  margin: auto;
  padding: 0px;
  display: block;
}


#score-table {
  position: relative;
  display: inline-block;
  font-size: 0.75em;
  text-align: left;
  line-height: 20px;
}

#score-body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(5vh, 1fr));
  grid-template-columns: 100%;
  grid-gap: 0.1em;
}


.score-row {
  width: 30vw;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5vh, 1fr));
  grid-gap: 0.1em;
}

.score-cell {
  border-style: solid;
  border-width: 0.05em;
  border-color: #252525;
}

.score-dice {
  color: var(--theme-color);
  margin-left: 1vw;
}

.score-button {
  width: 100%;
  background-color: #FFFFFF;
  border-style: none;
  text-align: left;
  border-color: #101010;
}

.score-button:hover:enabled {
  transform: translateX(-3px);
  font-weight: bold;
}

.score-dice-button {

}




button:disabled i {
  color: #505050;
}

#login-form, #register-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-button, #register-button {
  background-color: var(--theme-color);
}

/*
:root {
  --dice-side: 20px;
}

@media only screen and (min-width: 600px) {
  :root {
    --dice-side: 60px;
  }
}

html, body{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato;
}






#grid-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.grid-wrapper-row {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 3fr 2fr;
}

#board-box {
  position: relative;
  display: grid;
}




nav {
  position: absolute;
}

nav .navbar-brand
{
    size for brand
    font-size: xx-large;
    color: #555;
}

nav .navbar-brand .red
{
    color: #ea433b;
}


#dice-box {
  position: absolute;
  top: 40%;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(5, var(--dice-side));
  grid-template-rows: var(--dice-side);
  gap: 10px;
  transform: translate(-50%, -50%);
}

.die-box{
  position: relative;
}



.die-img {
  width: var(--dice-side);
  height: var(--dice-side)%;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#buttons-box{
  position: absolute;
  width: 50%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

#roll-btn{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

#hold-btn{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}


#roll-btn, #hold-btn {
    width: 80px;
    height: 60px;
    line-height: 80%;
    text-align: center;
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

.die-button, .score-button {
  background-color: #FFFFFF;
  border-style: none;
}

button:hover:enabled { font-weight: 600; }
button:hover:enabled i { margin-right: 20px; }

button:disabled i {
  color: #505050;
}
button:focus {
    outline: none;
}


i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

#score-box{
  position: relative;
}

#score-grid{
  position: absolute;
  width: 80%;
  height: 75%;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
  grid-template-columns: 100%;
  font-size: 12pt;
  text-align: center;
  line-height: 20px;
  transform: translate(-50%, -50%);
}

.score-button{
  width: 100%;
  height: 100%;
  border-style: none;
  line-height: 10px;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

.row-title {
  font-weight: bold;
}

.score-row{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100px 200px;
}

.score-dice {
  vertical-align: middle;
  object-position: center;
  font-size: 12pt;
}

.score-dice-cell {
  position: relative;
  font-size: 12pt;
  align-items: center;
}

.score-cell {
  line-height: 15px;
  position: relative;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 15px;
  font-weight: 300;
}

.selected {
  border-style: solid;
  border-color: #555;
}


.wrapper-box {
  position: relative;
  width: 100%;
  height: 85%;
}

.form-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 70%;
  height: 100%;
  transform: translate(-50%, -50%);
}


*/
