{% extends "layout.html" %}

{% import 'macros.html' as macros %}

{% block scripts%}
  <script type="text/javascript" src="{{ url_for('static',
filename='scripts/script.js') }}"></script>
{% endblock %}

{% block title%}<title>Yams</title>{% endblock%}

{% block new_quit %}
  {% if game.is_in_progress %}
    <li class="nav-item"><a class="nav-link" href="/resign">
      Abandonner
    </a></li>
  {% else %}
    <li class="nav-item"><a class="nav-link" href="/new">
      Nouvelle partie
    </a></li>
  {% endif %}
{% endblock %}

{% block main %}
  <main id="main-wrapper">
    <form id="board" name="board" action="/" method="post">
      <header class="board-filler">  </header>
      {# DICE #}
      {{macros.dice_container(game, current_user)}}
      <b class="board-filler"></b>

      {# BUTTONS #}
      <ul id="play-buttons">
        <li id="roll-button-box" class="play-button-box">
          {{macros.play_button(game, 'roll', 'Lancer', game |is_roll_button_disabled)}}
        </li>
        <li id="hold-button-box" class="play-button-box">
          {{macros.play_button(game, 'hold', 'Marquer', game |is_hold_button_disabled)}}
        </li>
      </ul>
      <footer class="board-filler"></footer>
    </form>

    {# SCORE #}
    <form id="score" name="score-table" action="/" method="post">
      <table id="score-table">
        <tbody id="score-body">
          {{macros.score_table_row(game, current_user, 'username', title='Nom')}}
          {{macros.score_table_row(game, current_user, 'one', button=True, icon='fa-dice-one')}}
          {{macros.score_table_row(game, current_user, 'two', button=True, icon='fa-dice-two')}}
          {{macros.score_table_row(game, current_user, 'three', button=True, icon='fa-dice-three')}}
          {{macros.score_table_row(game, current_user, 'four', button=True, icon='fa-dice-four')}}
          {{macros.score_table_row(game, current_user, 'five', button=True, icon='fa-dice-five')}}
          {{macros.score_table_row(game, current_user, 'six', button=True, icon='fa-dice-six')}}
          {{macros.score_table_row(game, current_user, 'upper_total', title='Total I')}}
          {{macros.score_table_row(game, current_user, 'bonus', title='Bonus')}}
          {{macros.score_table_row(game, current_user, 'min', button=True, title='Inférieur')}}
          {{macros.score_table_row(game, current_user, 'max', button=True, title='Supérieur')}}
          {{macros.score_table_row(game, current_user, 'middle_total', title='Total II')}}
          {{macros.score_table_row(game, current_user, 'poker', button=True, title='Carré')}}
          {{macros.score_table_row(game, current_user, 'full', button=True, title='Full')}}
          {{macros.score_table_row(game, current_user, 'small_straight', button=True, title='Petite Suite')}}
          {{macros.score_table_row(game, current_user, 'large_straight', button=True, title='Grande Suite')}}
          {{macros.score_table_row(game, current_user, 'yams', button=True, title='Yams')}}
          {{macros.score_table_row(game, current_user, 'rigole', button=True, title='Rigole')}}
          {{macros.score_table_row(game, current_user, 'lower_total', title='Total III')}}
          {{macros.score_table_row(game, current_user, 'total', title='Total')}}
        </tbody>
      </table>
    </form>
  </main>

{% endblock %}
