{% macro score_table_row(game, current_user, entry_name, title=None, button=False, icon=None) -%}
    <tr id="{{entry_name}}-score-row" class="score-row">
       {{score_table_header(entry_name, current_user, game, title, button, icon)}}
       {% if game == None %}
        {{score_table_cell(entry_name, 0, None)}}
       {% else %}
        {% for player in game.players %}
          {{score_table_cell(entry_name, loop.index, player | score_value(entry_name))}}
        {% endfor %}
       {% endif %}
    <tr>
{%- endmacro %}

{% macro bonus_table_row(game, current_user, entry_name, title=None, button=False, icon=None) -%}
  <tr id="bonus-score-row" class="score-row">
    {{score_table_header('bonus', current_user, game, 'Bonus')}}
    {% for player in game.players %}
      {{score_table_cell(entry_name, loop.index, player.bonus)}}
    {% endfor %}
  <tr>
{%- endmacro %}

{% macro score_button(game, current_user,  entry_name, title=None, icon=None)-%}
  <button type="submit" id="{{entry_name}}-button"
  name="score"
  class="score-button"
  {% if game | is_score_button_disabled(entry_name) %}
    disabled
  {% endif %}
  value={{entry_name}}>
    {% if icon %}
       {{die_icon(icon)}}
    {% else %}
      {{title}}
    {% endif %}
  </button>
{%- endmacro %}


{% macro score_table_header(entry_name, current_user, game=game,  title=None, button=False, icon=None) -%}
  <th id="{{entry_name}}-title-cell" class="score-cell row-title">
    {% if button %}
      {{score_button(game, current_user, entry_name, title=title, icon=icon)}}
    {% else %}
      {{title}}
    {% endif %}
  </th>
{%- endmacro %}

{% macro score_table_cell(entry_name, index, content) -%}
  <td id="{{entry_name}}-cell-{{index}}" class="score-cell">
    {{content}}
  </td>
{%- endmacro %}

{% macro die_icon(icon) -%}
    <i class="fas {{icon}} score-dice"></i>
{%- endmacro %}

{% macro play_button(game, name, title, disabled) -%}
  <button type="submit" name={{name}} id = "{{name}}-button" class="play-button"
  value="[]"
  {% if disabled %}
    disabled
  {% endif %}
  >

    <i class="fas fa-dice"></i>
    {{title}}
  </button>
{%- endmacro %}

{% macro die_button(game, current_user, index) -%}
  <button id="die-button-{{index}}" class="die-button"
  name="die-button-{{index}}" type="button" value="{{game | die_value(index)}}"
  {% if game | is_die_button_disabled%}
    disabled
  {% endif %}
  >
      {{die_button_icon(game | die_value(index), index)}}
  </button>

{%- endmacro %}

{% macro die_button_icon(value, index) -%}
  <img  id="die-image-{{index}}"class="die-img"
  src="./static/img/die-{{value}}.png" alt="{{value}}-die">
{%- endmacro %}

{% macro dice_container(game, current_user) -%}
  <ul id="dice-container">
    {% for i in range(5)%}
      <li id="die-box-{{loop.index}}" class="die-box">
          {{die_button(game, current_user, loop.index0)}}
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}
