{% extends "layout.html"%}

{% block title %} <title>Changer le mot de passe</title>{% endblock %}

{% block main %}
  <div id="register-wrapper-box" class="wrapper-box">
    <div id="register-form-box" class="form-box">
      <form id ="register-form" class"form" action="/pwdchange" method="post">
        <div class="form-group">
          <label for="username">Ancien mot de passe</label>
          <input type="password" class="form-control" id="input-username-register" name="old-password"
          aria-describedby="emailHelp" placeholder="Nom d'utilisateur">
          <small id="userError" class="form-text text-muted">{{user_error}}</small>
        </div>
        <div class="form-group">
          <label for="password">Nouveau mot de passe</label>
          <input type="password" class="form-control" id="new-password" name="new-password"
          placeholder="Mot de Passe">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="repeat-password" name ="repeat-password"
          placeholder="Répéter mot de passe">
          <small id="passwordError" class="form-text text-muted">{{repeat_password_error}}</small>
        </div>
        <button id="register-button" type="submit" class="btn btn-danger">Changer</button>
      </form>
    </div>
  </div>
{% endblock %}
