{% extends "layout.html" %}

{% block title%}<title>Yams</title>{% endblock%}

{% block main %}
  <main id="main-wrapper">
    <form id="board" action="/" method="post">
      <header class="board-filler">  </header>
      {# DICE #}
      <ul id="dice-container">
        {% for die in game["dice"] %}
          <li id="die-box-{{loop.index}}" class="die-box">
            <button id="die-button-{{loop.index}}" class="die-button"
            name="die-button-{{loop.index}}" type="button">
              <img  id="die-image-{{loop.index}}"class="die-img"
              src="{{ die | die_img }}" alt="{{die}} die">
            </button>
          </li>
        {% endfor %}
      </ul>
      <b class="board-filler"></b>

      {# BUTTONS #}
      <ul id="play-buttons">
        <li id="roll-button-box" class="play-button-box">
          <button type="submit" name="roll" id = "roll-btn" class="play-button" value="[]"
          {% if not game.stage == "play" %}
            disabled
          {% endif %}>
            <i class="fas fa-dice"></i>
            Lancer
          </button>
        </li>
        <li id="hold-button-box" class="play-button">
          <button type="submit" name="hold" id="hold-btn" class="play-button" value="[]"
          {% if not game.stage == "play" %}
            disabled
          {% endif %}>
            <i class="fas fa-pen"></i>
            Marquer
          </button>
        </li>
      </ul>
      <footer class="board-filler"></footer>
    </form>

    {# SCORE #}
    <form id="score">
      <table id="score-table">
        <tbody id="score-body">
          {% for entry in SCORE_ENTRIES %}
            <tr id="{{entry}}-score-row" class="score-row">
              {# Row heading #}
              {# Add an icon if the entry is one of "ones" through "sixes".
              Otherwise, add title.#}
              {% if entry in UPPER_VALUES %}
                <th id="{{entry}}-title-cell" class="score-cell row-title
                score-dice-cell">
                  <button type="button" id="{{entry}}-button" name="{{entry}}-button"
                  class="score-button score-dice-button">
                    <i class="fas {{entry | icon}} score-dice"></i>
                  </button>
                </th>
              {% else%}
                <th id="{{entry}}-title-cell" class="score-cell row-title">
                  <button type="button" id="{{entry}}-button" name="{{entry}}-button"
                  class="score-button">
                    {{entry | title}}
                </th>
              {% endif %}

              {# Row cells#}
              {% for score in game["scores"] %}
                <td id="{{entry}}-cell-{{loop.index}}" class="score-cell">
                  {{ score[entry] }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </form>
  </main>

{% endblock %}
