{% extends "layout.html" %}

{% import 'macros.html' as macros %}

{% block scripts%}
  <script type="text/javascript" src="{{ url_for('static',
filename='scripts/script.js') }}"></script>
{% endblock %}

{% block title%}<title>Yams</title>{% endblock%}

{% block new_quit %}
  {% if game.is_in_progress %}
    <li class="nav-item"><a class="nav-link" href="/resign">
      Abbandonner
    </a></li>
  {% else %}
    <li class="nav-item"><a class="nav-link" href="/new">
      Nouvelle partie
    </a></li>
  {% endif %}
{% endblock %}

{% block main %}
  <main id="main-wrapper">
    <form id="board" name="board" action="/" method="post">
      <header class="board-filler">  </header>
      {# DICE #}
      <ul id="dice-container">
        {% for die in game['dice'] %}
          <li id="die-box-{{loop.index}}" class="die-box">
            <button id="die-button-{{loop.index}}" class="die-button"
            name="die-button-{{loop.index}}" type="button" value="{{die}}"
            {% if not game.is_rolling %} disabled {% endif %}>
              <img  id="die-image-{{loop.index}}"class="die-img"
              src="./static/img/die-{{die.value}}.png" alt="{{die}} die">
            </button>
          </li>
        {% endfor %}
      </ul>
      <b class="board-filler"></b>

      {# BUTTONS #}
      <ul id="play-buttons">
        <li id="roll-button-box" class="play-button-box">
          {{macros.play_button(game, 'roll', 'Lancer')}}
        </li>
        <li id="hold-button-box" class="play-button-box">
          {{macros.play_button(game, 'hold', 'Marquer')}}
        </li>
      </ul>
      <footer class="board-filler"></footer>
    </form>

    {# SCORE #}
    <form id="score" name="score-table" action="/" method="post">
      <table id="score-table">
        <tbody id="score-body">
          {{macros.score_table_row(game, 'name', title='Nom')}}
          {{macros.score_table_row(game, 'one', button=True, icon='fa-dice-one')}}
          {{macros.score_table_row(game, 'two', button=True, icon='fa-dice-two')}}
          {{macros.score_table_row(game, 'three', button=True, icon='fa-dice-three')}}
          {{macros.score_table_row(game, 'four', button=True, icon='fa-dice-four')}}
          {{macros.score_table_row(game, 'five', button=True, icon='fa-dice-five')}}
          {{macros.score_table_row(game, 'six', button=True, icon='fa-dice-six')}}
          {{macros.score_table_row(game, 'upper_total', title='Total I')}}
          {{macros.score_table_row(game, 'bonus', title='Bonus')}}
          {{macros.score_table_row(game, 'min', button=True, title='Inférieur')}}
          {{macros.score_table_row(game, 'max', button=True, title='Supérieur')}}
          {{macros.score_table_row(game, 'middle_total', title='Total II')}}
          {{macros.score_table_row(game, 'poker', button=True, title='Carré')}}
          {{macros.score_table_row(game, 'full', button=True, title='Full')}}
          {{macros.score_table_row(game, 'small_straight', button=True, title='Petite Suite')}}
          {{macros.score_table_row(game, 'large_straight', button=True, title='Grande Suite')}}
          {{macros.score_table_row(game, 'yams', button=True, title='Yamse')}}
          {{macros.score_table_row(game, 'rigole', title='Rigole')}}
          {{macros.score_table_row(game, 'lower_total', title='Total III')}}
          {{macros.score_table_row(game, 'total', title='Total')}}
        </tbody>
      </table>
    </form>
  </main>

{% endblock %}
