<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% block title%}{% endblock%}
  </head>


  <body>

    {% block main %}

    {% endblock %}

  </body>
</html>
